<br>
<div class="friend-requests">
  <% @received_requests.each do |received_request| %>
    <% initiator = received_request.initiator %>
    <%= render 'user_preview', user: initiator %>
    <%= render 'accept_connection_button', connection: received_request %>
    <%= render 'delete_connection_button', connection: received_request, label: 'delete' %>
    <br>
  <% end %>
</div>

<div class="suggestions">
  <% @suggestions.each do |suggestion| %>
    <%= render 'user_preview', user: suggestion %>
    <%= render 'add_connection_button', viewee: suggestion %>
  <% end %>
</div>