<div class="user">
  <div class="user-info">
    <strong><%= @user.username %> </strong><br>
    <small> <%= pluralize(@user_friends_count, 'friend') %> </small>
    <small> <%= pluralize(@mutual_friends_count, 'mutual friend') %> </small>
  </div>
  <div class="user-interaction">
    <%= render 'connection_interface', connection: @connection, viewee: @user %>
  </div>
</div>

<div class="user-posts">
  <%= render partial: 'posts/post', collection: @posts %>
</div>