<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_area :content, placeholder: 'Post Something' %>
  </div>


  <% if post.shared_post %>
    <%= render 'shared_post', shared_post: post.shared_post %> 

    <%= form.fields_for :attachments do |attachments_form| %>
      <%= attachments_form.hidden_field :attachable_id, value: post.shared_post.id %>
      <%= attachments_form.hidden_field :attachable_type, value: 'Post' %>
    <% end %>
  <% else %>
    <!-- render attachments -->
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
