<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_area :content, placeholder: 'Post Something' %>
  </div>

  <%= render 'shared_post', post: @attached_post if @attached_post %>

  <%= form.hidden_field :attachment, value: @attached_post.id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
