<div>
  <div> <%= link_to post.author.username %> </div>
  <div> <small> <%= post.time %> </small> </div>

  <div>
    <p> <%= post.content %> <p>
  </div>

  <div>
    <span> <%= post.likes_count %> likes </span>
    <span> <%= post.comments.count %> comments </span> 
    <span> <%= post.shares_count %> shares </span> 
  <div>
  <div>
    <span> <%= link_to 'Like' %> </span>
    <span> <%= link_to 'Share' %> </span>
  </div>
  <%= render "comments/form", commentable: post, commenter: current_user %>
  <%= render partial: "comments/comment", collection: post.comments.where.not(id: nil) %>
  <br>
</div>