<div>
  <div> <%= link_to post.author.username %> </div>
  <div> <small> <%= post.time %> </small> </div>

  <div>
    <p> <%= post.content %> <p>
  </div>

  <div>
    <span class='likes-count' data-id='<%= post.id %>'> <%= post.likes_count %> </span> likes
    <span> <%= post.comments.count %> comments </span> 
    <span> <%= post.shares_count %> shares </span> 
  <div>
  <div>
    <span> 
      <%= link_to toggle_like_post_path(post), remote: true, method: :post do %>
        <span class='like-toggle' data-id ='<%= post.id %>' > 
          <%= current_user.liked?(post) ? 'Unlike' : 'Like' %>
        </span> 
      <% end %>
    </span>
    <span> <%= link_to 'Share' %> </span>
  </div>
  <%= render "comments/form", comment: Comment.new(post: post) %>
  <%= render partial: "comments/comment", collection: post.comments %>
  <br>
</div>