<div>
  <div> <strong> <%= link_to post.author.username, user_path(post.author) %> </strong> </div>
  <div> <small> <%= post.time %> </small> </div>

  <div name='content'>
    <div class="text-content">
      <%= post.content %> 
    </div>

    <% if post.shared_post %>
      <%= render 'shared_post', shared_post: post.shared_post %>
    <% else %>
      <!-- render media attachments -->
    <% end %>
  </div>

  <!--
    render interaction-interface 
  -->

  <div>
    <span class='likes-count' data-id='<%= post.id %>'> <%= post.likes_count %> </span> likes
    <span> <%= post.comments.count %> comments </span> 
    <span> <%= post.shares_count %> shares </span> 
  <div>
  <div>
    <span> 
      <%= link_to toggle_like_post_path(post), remote: true, method: :post do %>
        <span class='like-toggle' data-id ='<%= post.id %>' > 
          <%= current_user.liked?(post) ? 'Unlike' : 'Like' %>
        </span> 
      <% end %>
    </span>
    <span> 
      <%= link_to 'Share to feed', share_feed_posts_path(post), remote: true, method: :post %> 
    </span>
    <span>
      <%= link_to 'Share', share_posts_path(post), method: :get %>
    </span>
  </div>
  <%= render "comments/form", comment: Comment.new(post: post) %>
  <%= render partial: "comments/comment", collection: post.comments %>
  <br>
</div>