<!DOCTYPE html>
<html>
  <head>
    <title>OdinFacebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="brand">
        <%= link_to root_path do %>
          <h1>FakeBook</h1>
        <% end%>
      </div>

      <div class="menu">
          <% if user_signed_in? %>
          <div> <%= link_to current_user.username, profile_path %> </div>
          <% end %>
          <div> <%= link_to 'Messages' %> </div>
          <div> <%= link_to 'Friends', users_path %> </div>
          <div> <%= link_to 'Notification' %> </a></div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
